body{
	background-image:url("../images/back.jpg");
}

/*Modification formulaire inscription*/
#inscription{
    width:400px; /*Taille du formulaire*/
    margin:0 auto;
    margin-top:5.5%; /*Espace entre le haut de la page et le formulaire*/
    font-family: 'Roboto', sans-serif; 
}

#inscription h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif; 
}

/*Modification formulaire login*/
#logz{
    width:400px; /*Taille du formulaire*/
    margin:0 auto;
    margin-top:10%; /*Espace entre le haut de la page et le formulaire*/
    font-family: 'Roboto', sans-serif; 
}

/* Rectangle de connexion */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Roboto', sans-serif; 
    border-radius: 10px;
}

/* Style inputs */
input[type=email], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

/* Style des boutons */
input[type=submit] {
    background-color: #0092c9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
}
input[type=submit]:hover {
    background-color: #e0f0f5;
    color: #85d3f0;
    border: 1px solid #85d3f0;
    font-family: 'Roboto', sans-serif; 
}

.prez h1{
    color: royalblue;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

.prez h2{
    padding: 30px;
    color: black;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.photos{
    display: flex;
    justify-content: space-between;
    width : 500px;
    height : 500px;
    padding: 4%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /*background-color: rgb(144, 144, 255);*/
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a {
    margin-right: 20px /*Margin sert à réduire ou augmenter l'espace invisible entre des éléments*/;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 0 15px;
}

nav .onglets a:hover{
    background-color: aliceblue;
    font-weight: bold;
    color: royalblue;
}
